asgiref==3.3.4
attrs==21.2.0
boto3==1.17.101
botocore==1.20.101
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
charset-normalizer==2.1.0
click==8.0.1
click-plugins==1.1.1
cligj==0.7.2
contextlib2==21.6.0
cryptography==3.4.7
Deprecated==1.2.12
dj-database-url==0.5.0
Django==3.2.12
django-ckeditor-5==0.1.6
django-cors-headers==3.13.0
django-environ==0.9.0
django-filter==22.1
django-heroku==0.3.1
django-phonenumber-field==6.3.0
django-storages==1.12.3
django-widget-tweaks==1.4.12
Fiona==1.8.21
gunicorn==20.1.0
idna==3.3
jmespath==0.10.0
munch==2.5.0
phonenumbers==8.12.52
phonenumberslite==8.12.52
Pillow==9.2.0
psycopg2==2.9.3
pycparser==2.20
pycryptodome==3.15.0
python-dateutil==2.8.1
pytz==2021.1
s3transfer==0.4.2
schema==0.7.5
Shapely==1.8.2
six==1.16.0
sqlparse==0.4.2
urllib3==1.26.6
whitenoise==5.2.0
wrapt==1.14.1
